<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course.name }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script src="https://kit.fontawesome.com/8cf596884a.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/course/courseHomePage.css') }}">
</head>
<body>

<div class="wrapper">

    {% from 'macro/headerMacro.html' import header %}
    {% from 'macro/footerMacro.html' import footer %}

    {{ header(current_user) }}


    <div class="content">
        <div class="container">
            <div class="course">

                <div class="course__title">
                    {{ course.name }}
                </div>

                {% for lesson in lessons %}
                    <div class="course__lesson">
                        <div class="lesson__title">
                            {{ lesson.name }}
                        </div>
                        <div class="lesson__description">
                            {{ lesson.description }}
                        </div>
                        <div class="lesson__difficulty">
                            {{ lesson.difficulty }}
                        </div>

                        <div class="lesson__btn">
                            <a href="{{ url_for('lesson_home_page', course_id=course.id, lesson_id=lesson.id) }}">Пройти</a>
                        </div>

                    </div>
                {% endfor %}

                <a href="{{ url_for( 'create_lesson',course_id=course.id) }}">
                    Create new lesson (for teacher who created course)
                </a>

            </div>
        </div>
    </div>

    {{ footer(current_user) }}

</div>
</body>
</html>